.material-symbols-outlined {
  color: rgba(39, 42, 49, 1);
}

body {
  width: 100%;
  margin: 0%;
  display: flex;
  flex-direction: column;
}

header {
  width: 90%;
  height: 100%;
  margin: 0%;
  background: rgba(229, 232, 232, 0.5);
  padding: 5%;
}

.social-list {
  display: none;
}

.menu-mobile {
  position: absolute;
  top: 0%;
  left: 0%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3%;
  list-style: none;
  font-family: 'Lato', sans-serif;
  background-image: url(./images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  margin: 0%;
  padding: 0%;
}

.menu-list {
  display: none;
}

a {
  text-decoration: none;
  color: rgba(39, 42, 49, 1);
}

a:hover {
  color: rgba(236, 82, 66, 1);
}

.close {
  position: absolute;
  top: 5%;
  left: 5%;
}

.main_logo {
  position: absolute;
  left: 15%;
  top: 6%;
}

@media (max-width: 768px) {
  .main_logo {
    display: none;
  }
}

@media (min-width: 768px) {
  .menu {
    display: none;
  }

  .close {
    display: none;
  }

  header {
    margin: 0%;
    padding: 0%;
    width: 100%;
  }

  .social-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    font-family: 'Lato', sans-serif;
    gap: 2%;
    background-color: rgba(39, 42, 49, 1);
    padding-right: 10%;
    height: 35px;
    margin: 0%;
  }

  .social {
    color: white;
  }

  .menu-list {
    display: flex;
    list-style: none;
    font-family: 'Lato', sans-serif;
    gap: 4%;
    margin-left: 40%;
  }

  a {
    color: rgba(39, 42, 49, 1);
    text-decoration: none;
  }

  a:hover {
    color: rgba(236, 82, 66, 1);
  }
}

.hero {
  background-image: url(./images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-family: 'Lato', sans-serif;
  color: rgba(236, 82, 66, 1);
  font-size: 34px;
  font-weight: 900;
  padding: 5%;
  margin: 0%;
}

p {
  font-family: 'Lato', sans-serif;
}

.hello1 {
  font-weight: 400;
  font-size: 30px;
}

.headline {
  font-family: 'Lato', sans-serif;
  color: rgba(39, 42, 49, 0.6);
  font-size: medium;
  border: 3px solid white;
  margin: 3%;
  padding: 3%;
  background-color: rgba(229, 232, 232, 1);
}

.date {
  padding-left: 5%;
  margin-bottom: 0%;
  font-family: 'Lato', sans-serif;
  font-weight: 800;
  color: rgba(39, 42, 49, 0.8);
}

.location {
  border: none;
  margin: 0%;
  padding: 5%;
  color: rgba(39, 42, 49, 0.6);
}

@media (min-width: 768px) {
  h1 {
    font-size: 70px;
    padding-left: 15%;
    padding-right: 30%;
    mix-blend-mode: multiply;
    padding-bottom: 2%;
  }

  .headline {
    margin-left: 15%;
    margin-right: 40%;
    margin-top: 0%;
  }

  .date {
    margin-left: 11%;
  }

  .location {
    font-size: 20px;
    font-weight: 700;
    padding-top: 2%;
    margin-left: 11%;
  }
}

.main-program {
  margin: 0%;
  height: 100%;
  padding-bottom: 5%;
  display: flex;
  flex-direction: column;
  background-image: url(./images/dot.svg);
  background-size: 7%;
  background-color: rgba(39, 42, 49, 1);
}

.sub-title {
  color: white;
  font-family: 'Lato', sans-serif;
  margin: 0;
  text-align: center;
  padding: 5%;
}

.line {
  background-color: rgba(236, 82, 66, 1);
  border-color: rgba(236, 82, 66, 1);
  margin-bottom: 10%;
}

.program-div {
  color: white;
  display: grid;
  grid-auto-flow: column;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0 5px;
  justify-content: left;
  justify-items: left;
  height: 25%;
  background-color: rgba(255, 255, 255, 0.15);
  margin: 2.5%;
}

h4 {
  grid-area: 1 / 2 / 2 / 3;
  color: rgba(236, 82, 66, 1);
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 600;
  align-self: center;
}

.program-text {
  grid-area: 1 / 3 / 2 / 5;
  font-size: 14px;
}

.icon {
  filter: invert(1);
  place-self: center;
}

.join {
  background-color: rgba(236, 82, 66, 1);
  font-family: 'Lato', sans-serif;
  color: white;
  font-size: 20px;
  border: none;
  padding: 5%;
  align-items: center;
  margin: 5% auto;
}

@media (min-width: 768px) {
  .sub-title {
    font-size: 30px;
    padding-bottom: 1%;
  }

  .line {
    margin-bottom: 2%;
  }

  .program-container {
    display: flex;
    justify-content: center;
    padding-left: 15%;
    padding-right: 15%;
  }

  .program-div {
    display: flex;
    flex-direction: column;
    margin: 0.5%;
    padding-top: 5%;
    height: 250px;
  }

  .program-text {
    padding-left: 5%;
  }

  .join {
    background-color: transparent;
    color: rgba(229, 232, 232, 1);
    text-decoration: underline;
    padding: 0%;
  }
}

.speakers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 7%;
}

.speakers > h3 {
  color: black;
}

.speaker-profile {
  display: grid;
  grid-auto-flow: column;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0 5px;
  align-content: stretch;
  height: 25%;
  font-family: 'Lato', sans-serif;
  margin: 5%;
}

#profile-pic {
  grid-area: 1 / 1 / 2 / 2;
  align-self: center;
}

#profile-info {
  grid-area: 1 / 2 / 2 / 5;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

#profile-info > h5 {
  font-size: 24px;
  margin: 0%;
}

#profile-info > h6 {
  font-size: 14px;
  color: rgba(236, 82, 66, 1);
  font-style: italic;
  margin: 2%;
}

#show-more2 {
  display: none;
}

#show-more3 {
  display: none;
}

#show-more4 {
  display: none;
}

#show-more5 {
  display: none;
}

.background > p {
  justify-content: center;
  align-content: center;
  margin: 2% auto;
}

#profile-info > p {
  font-size: 14px;
  color: rgba(39, 42, 49, 0.6);
  margin: 2%;
}

#profile-info > hr {
  justify-content: left;
  margin-left: 0%;
}

@media (min-width: 768px) {
  .speaker-container {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0 0;
    grid-template-areas:
      ". ."
      ". ."
      ". .";
    align-content: stretch;
    justify-items: stretch;
    align-items: stretch;
    height: 25%;
    padding-left: 10%;
    padding-right: 10%;
  }

  .speaker-profile {
    gap: 5%;
  }

  .speakers > a {
    display: none;
  }
}

.more {
  background-color: transparent;
  border: 2px solid rgba(229, 232, 232, 1);
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  color: rgba(39, 42, 49, 0.8);
  padding: 3%;
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.more-arrow {
  color: rgba(236, 82, 66, 1);
}

#sponsor {
  display: none;
}

#end {
  display: none;
}

.sub-hero {
  display: flex;
  flex-direction: column;
}

.sub-hero > h1 {
  text-align: center;
}

.h-head {
  text-align: center;
}

.contact {
  color: rgba(39, 42, 49, 0.6);
  padding: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
}

.winner {
  display: none;
}

.contact > a {
  color: rgba(39, 42, 49, 0.9);
  font-weight: bold;
}

@media (min-width: 768px) {
  .hello {
    display: none;
  }

  .sub-hero > h1 {
    padding: 0%;
    width: 60%;
    margin: 0 auto;
  }

  .h-head {
    margin: 0 auto;
    width: 50%;
  }

  .contact {
    padding: 0%;
    width: 50%;
    margin: 0 auto;
    height: 100px;
    padding-top: 5%;
  }

  .logo_about {
    width: 40%;
    width: 25%;
  }

  .winner {
    display: flex;
  }
}

.past > div > h3 {
  color: black;
  padding-left: 20%;
  padding-right: 20%;
}

.past {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding-bottom: 10%;
}

.link-topast {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
}

.logo {
  display: flex;
}

.logo_about {
  margin: 3% auto;
}

.image {
  color: white;
  background-image: url(./images/istockphoto-524085051-612x612.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  width: 90%;
  margin: 4% auto;
}

.background {
  display: flex;
  flex-direction: column;
  height: 200px;
  background-color: rgba(236, 82, 66, 1);
  mix-blend-mode: hard-light;
}

.background > .sub-title {
  display: flex;
  justify-content: center;
  align-content: center;
  color: white;
  margin: 5% auto;
}

.partners {
  display: block;
  background-color: rgba(39, 42, 49, 1);
  font-family: 'Lato', sans-serif;
  color: white;
  height: 250px;
  padding-top: 2%;
  font-size: 24px;
  text-align: center;
}

.partners-logos {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0%;
  list-style: none;
}

footer {
  visibility: visible;
  display: grid;
  grid-auto-flow: column;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0 5px;
  align-content: stretch;
  height: 100px;
  font-family: 'Lato', sans-serif;
  color: rgba(39, 42, 49, 0.6);
  padding: 3%;
  font-size: 2vw;
}

.foot-logo {
  grid-area: 1 / 1 / 2 / 3;
  background-image: url(./images/Creative-Commons-CC-Logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.reserved {
  grid-area: 1 / 3 / 2 / 5;
  font-size: 2vw;
  align-self: center;
}

@media (min-width: 768px) {
  .link-topast {
    margin-top: 5%;
    display: flex;
    gap: 3%;
    padding-left: 13%;
    padding-right: 13%;
    padding-bottom: 0%;
  }

  .past-container {
    display: flex;
    flex-direction: row;
    gap: 5%;
  }

  .image {
    height: 300px;
  }

  .background {
    height: 300px;
  }
}

@media (min-width: 768px) {
  #sponsor {
    display: block;
  }

  #end {
    display: grid;
  }

  #show-more2 {
    display: grid;
  }

  #show-more3 {
    display: grid;
  }

  #show-more4 {
    display: grid;
  }

  #show-more5 {
    display: grid;
  }
}
